{% extends 'base.html'                                                      %}
{# Template: admin.html                                                     #}
{# Display root view for admin activities                                   #}

{# Expects context variables:                                               #}
{#    None                                                                  #}

{# References Templates:                                                    #}
{#    None                                                                  #}

{# Defines Blocks:                                                          #}
{#    None                                                                  #}

{#                            Arcee_tags Library                            #}
{%                             load Arcee_tags                              %}
{# View the documentation for the Arcee_tags library:                       #}
{#     ~{% url Profiling.views.root%}Profiling/templatetags/Arcee_tags.py                      #}

{% block head_content %}
	<style type="text/css">
		.link {
			text-align: center; 
			text-decoration: underline;
			font-size: 1.5em; 
			font-weight: bold;
		}
	</style>
{% endblock %}
{% block content %}
	{% content 'default' '50' '38' %}
		{% header 'off' %}
			<div style="text-align: center; font-size: 2em;">
				Arcee - Riot Crew Profiling System
			</div>
			<div style="text-align: center; font-size: 1.5em;">
				Admin Interface
			</div>
		{% endheader %}
		<div style="text-align: center;">
			<img src="{% url Profiling.views.root%}content/Images/FRC_ULTIMATE_ASCENT.jpg" style="display: inline;"> 
		</div>
		{% vspacer %}
		<div class="link"><a href="{% url Profiling.views.bulk_import %}">Bulk Import Teams</a></div>
		{% vspacer %}
		<div class="link"><a href="{% url Profiling.views.observer_import %}">Bulk Import Observers</a></div>
		{% vspacer %}
		<div class="link"><a href="{% url Profiling.views.add_observer %}">Add Observer</a></div>
		{% vspacer %}
		<div class="link"><a href="{% url Profiling.views.team_pdf %}">Generate PDFs</a></div>
		{% vspacer %}
		<div class="link"><a href="{% url Profiling.views.root %}">Return to home view</a></div>
		<div style="position: absolute; bottom: 0px; left: 0px; right: 0px; text-align: center;">
			<img src="{% url Profiling.views.root%}content/Images/first_regional_banner.gif" style="display: inline;"> 
		</div>
	{% endcontent %}
{% endblock %}
